@use '../../abstracts/variables' as *;
@use '../../abstracts/mixins' as *;

.card-footer {
  padding: map-get($spacers, 3);
    background-color: var(--#{$prefix}-secondary);
  border-top: 1px solid var(--#{$prefix}-border-color);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.75rem;
  margin-top: auto;

  &:last-child {
    border-bottom-left-radius: var(--#{$prefix}-card-radius);
    border-bottom-right-radius: var(--#{$prefix}-card-radius);
  }
}
