@use '../../abstracts/variables' as *;
@use '../../abstracts/mixins' as *;

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--#{$prefix}-bg-elevated);
  border: 1px solid var(--#{$prefix}-border-color);
  border-radius: map-get($card-border-radius, base);
  box-shadow: var(--#{$prefix}-shadow-modal);
  width: 100%;
  overflow: hidden;

  & > hr {
    margin-right: 0;
    margin-left: 0;
  }
}
