@use '../../abstracts/variables' as *;

.action-menu {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;

  & > hr {
    margin-right: 0;
    margin-left: 0;
  }
}
