@use '../../abstracts/variables' as *;
@use '../../abstracts/mixins' as *;

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--#{$prefix}-overlay-bg);
  z-index: 1040;
  backdrop-filter: blur(4px);
}
