@use '../../abstracts/variables' as *;

.border {
  border: 1px solid var(--#{$prefix}-border-color) !important;
}

.border-0 {
  border: 0 !important;
}

.border-top {
  border-top: 1px solid var(--#{$prefix}-border-color) !important;
}

.border-bottom {
  border-bottom: 1px solid var(--#{$prefix}-border-color) !important;
}

.border-left {
  border-left: 1px solid var(--#{$prefix}-border-color) !important;
}

.border-right {
  border-right: 1px solid var(--#{$prefix}-border-color) !important;
}

.border-start {
  border-inline-start: 1px solid var(--#{$prefix}-border-color) !important;
}

.border-end {
  border-inline-end: 1px solid var(--#{$prefix}-border-color) !important;
}

.border-top-0 {
  border-top: 0 !important;
}

.border-bottom-0 {
  border-bottom: 0 !important;
}

.border-left-0 {
  border-left: 0 !important;
}

.border-right-0 {
  border-right: 0 !important;
}

.border-start-0 {
  border-inline-start: 0 !important;
}

.border-end-0 {
  border-inline-end: 0 !important;
}
