@use '../../abstracts/variables' as *;

.grid {
  display: grid;
  gap: 1.5rem;
}

.grid-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
  margin-bottom: 3rem;
}
