@use '../../abstracts/variables' as *;

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.stack {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.stack-sm {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.indent-sm {
  padding-left: 1.875rem;
}
