@use '../../abstracts/variables' as *;

.text-primary {
  color: var(--#{$prefix}-text-primary) !important;
}

.text-secondary {
  color: var(--#{$prefix}-text-secondary) !important;
}

.text-success {
  color: var(--#{$prefix}-text-success) !important;
}

.text-warning {
  color: var(--#{$prefix}-text-warning) !important;
}

.text-danger {
  color: var(--#{$prefix}-text-danger) !important;
}

.text-info {
  color: var(--#{$prefix}-text-info) !important;
}
