@use '../../abstracts/variables' as *;
@use '../../abstracts/mixins' as *;

.btn-ghost {
  background-color: transparent;
  border-color: transparent;
  color: var(--#{$prefix}-text-secondary);
  opacity: 0.6;
  transition: all 150ms ease-in-out;

  &:hover {
    background-color: var(--#{$prefix}-secondary);
    opacity: 1;
  }

  &:focus-visible {
    outline: 2px solid var(--#{$prefix}-secondary);
    outline-offset: 2px;
  }

  &:active {
    background-color: var(--#{$prefix}-secondary-hover);
  }

  &:disabled,
  &.disabled,
  fieldset:disabled & {
    opacity: 0.4;
  }
}
