@mixin button-solid-variant($background, $border, $hover-background: darken($background, 7.5%), $hover-border: darken($border, 10%), $text-color: #fff) {
  color: $text-color;
  background-color: $background;
  border-color: $border;

  &:hover {
    color: $text-color;
    background-color: $hover-background;
    border-color: $hover-border;
  }

  &:focus-visible {
    outline: 2px solid $border;
    outline-offset: 2px;
  }

  &:active {
    background-color: darken($background, 10%);
    border-color: darken($border, 12.5%);
  }

  &:disabled,
  &.disabled,
  fieldset:disabled & {
    pointer-events: none;
    opacity: 0.65;
  }
}

@mixin button-size($padding-y, $padding-x, $font-size, $border-radius) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  border-radius: $border-radius;
}

@mixin transition($transition...) {
  @if length($transition) == 0 {
    transition: map-get($transitions, base);
  } @else if length($transition) == 1 {
    $property: nth($transition, 1);
    transition: $property map-get($transitions, base);
  } @else {
    transition: $transition;
  }
}

@mixin border-radius($radius: base) {
  border-radius: map-get($border-radius, $radius);
}
